{% extends 'base.html' %}

{% load static %}


{% block extrastyle %}{% endblock extrastyle %}
    

{% block title %}<title>Application Name</title>{% endblock title %}
    
{% block header %}
<header class="w-100 p-10 h-200 border border-2 border-red d-flex align-items-center justify-content-between">
    <h1>This is the header</h1>
</header>
{% endblock header %}


{% block content %}{% endblock content %}


{% block footer %}
<footer>
    <h3 class="fs-1 text-center">THis is a footer</h3>
</footer>
{% endblock footer %}


{% block script %}
<!-- script for header and footer -->
{% endblock script %}

{% block extrascript %}{% endblock extrascript %}

